@media (orientation: portrait) {
    #canvas {
        display: none;
    }


    #rotation-img {
        display: block;
    }
}


@media (orientation: landscape) {
    #rotation-img {
        display: none;
    }
}


@media (max-width: 1364px) {
    #canvas {
        width: 100%;
        height: unset;
    }
}


@media (max-width: 960px) and (max-height: 540px) and (orientation: landscape) {
    .header {
        display: none;
    }


    .footer {
        display: none;
    }
}


@media (max-width: 960px) {
    #canvas {
        max-width: 100%;
        max-height: 100vh;
    }
}


@media (max-width: 688px) {
    #level-control-table {
        max-width: 520px;
    }


    th {
        width: 104px;
    }


    td {
        width: 151px;
    }


    .no-keyboard {
        display: none;
    }
}


@media (max-width: 640px) {
    .header {
        font-size: 28px;
    }


    .footer {
        font-size: 18px;
        justify-content: space-around;
        gap: unset;
    }
}


@media (max-width: 590px) {
    .touch-figure-desktop {
        display: none;
    }


    .touch-figure {
        margin-bottom: 16px;
    }


    .touch-figure-mobile {
        display: unset;
    }
}


@media (max-height: 540px) {
    #canvas {
        width: unset;
        height: 100vh;
    }
}


@media (max-width: 480px) {
    .header {
        font-size: 24px;
    }


    .link {
        display: none;
    }


    .mobile-btn {
        display: unset;
    }


    .desktop-control {
        display: none;
    }


    .mobile-control {
        display: block;
    }


    #menu-control-table {
        max-width: 238px;
    }
}


@media (max-width: 320px) {
    table {
        font-size: 14px;
    }
}