@media (orientation: portrait) {
    #full-screen-btn {
        display: none;
    }


    #exit-full-screen-btn {
        display: none;
    }


    #canvas {
        display: none;
    }


    #rotation-img {
        display: block;
    }
}


@media (orientation: landscape) {
    #rotation-img {
        display: none;
    }
}


@media (max-width: 960px) {
    #canvas {
        max-width: 100%;
        max-height: 100vh;
    }
}


@media (max-width: 688px) {
    #level-control-table {
        max-width: 520px;
    }


    th {
        width: 104px;
    }


    td {
        width: 151px;
    }


    .no-keyboard {
        display: none;
    }
}


@media (max-width: 640px) {
    .header {
        font-size: 28px;
    }


    .footer {
        font-size: 18px;
        justify-content: space-around;
        gap: unset;
    }
}


@media (max-width: 590px) {
    .touch-figure-desktop {
        display: none;
    }


    .touch-figure {
        margin-bottom: 16px;
    }


    .touch-figure-mobile {
        display: unset;
    }
}


@media (max-height: 540px) {
    #canvas {
        width: unset;
        height: 100vh;
    }
}


@media (max-width: 480px) {
    .header {
        font-size: 24px;
    }


    .link {
        display: none;
    }


    .mobile-btn {
        display: unset;
    }


    .desktop-control {
        display: none;
    }


    .mobile-control {
        display: unset;
    }


    #menu-control-table {
        max-width: 238px;
    }
}


@media (max-height: 464px) {
    .main-header {
        background-color: rgba(255, 255, 255, 1);
    }


    .main-footer {
        background-color: rgba(255, 255, 255, 1);
    }
}


@media (max-width: 360px) {
    .header {
        font-size: 20px;
    }
}


@media (max-width: 320px) {
    table {
        font-size: 14px;
    }
}