body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#canvas {
    background-color: black;
}


@media (max-width: 960px) {
    @media screen {
        #canvas {
            width: 100%;
            /* transform: rotate(90deg);
            transition: transform 100ms ease-in-out; */
        }
    }
}




/* 
    Responsiveness
    --------------
      - style.css
      - game.js

      - desktop, tablet, mobile ... (0/3)
      - drawable objects ... ?

*/