body {
    margin: 0;
    height: 100vh;
    background-image: url('./img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


#canvas {
    display: block;
    background-color: black;
    box-shadow: 0 0 32px 32px white;
}


#rotation-img {
    padding: 32px;
    width: 50%;
    background-color: white;
    border-radius: 10%;
}


@media (orientation: portrait) {
    #canvas {
        display: none;
    }


    #rotation-img {
        display: block;
    }
}


@media (orientation: landscape) {
    #rotation-img {
        display: none;
    }
}


@media (max-width: 960px) {
    #canvas {
        width: 100%;
    }
}


@media (max-height: 540px) {
    #canvas {
        width: unset;
        height: 100vh;
    }
}