body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


#canvas {
    background-color: black;
}


@media (max-width: 960px) {
    #canvas {
        width: 100%;
    }
}


@media (orientation: landscape) {
    #canvas {
        height: 100vh;
    }
}


/* @media only screen and (max-width: 960px) {
    #canvas {
        height: 100vh;
        width: calc(round(down, 100vh / 9, 1px) * 16);
        height: calc(round(down, calc(100vh / 9), 1px) * 9);
    }
} */





/* @media only screen and (max-width: 960px) {
    .display-unset {
        display: none;
    }


    .display-none {
        display: unset;
    }


    @media only screen and (max-height: 540px) {
        #canvas {
            height: calc(round(down, calc(100vh / 9), 1px) * 9);
        }
    }
} */