body {
    margin: 0;
    height: 100vh;
    background-image: url('./img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 64px;
    overflow-x: hidden;
}


header {
    box-sizing: border-box;
    padding: 24px 32px;
    width: 100%;
    height: 72px;
    font-family: 'Trade Winds', Arial, Helvetica, sans-serif;
    font-size: 32px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 4px white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}


.body-btn {
    box-sizing: border-box;
    padding: 4px;
    width: 48px;
    height: 48px;
    font-family: 'Amaranth', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #382914;
    background-image: url('./img/header/ball3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px white;
    cursor: pointer;
}


.body-btn:hover {
    box-shadow: 0 0 8px 2px goldenrod;
}


#exit-full-screen-btn {
    margin: 12px 12px;
    position: absolute;
    top: 0;
    right: calc(calc(100% / 2) - 36px);
}


.hide {
    display: none;
}


#canvas {
    display: block;
    background-color: black;
    box-shadow: 0 0 32px 32px white;
}


#rotation-img {
    padding: 32px;
    width: 50%;
    max-width: 400px;
    background-color: white;
    border-radius: 10%;
}


footer {
    box-sizing: border-box;
    padding: 24px 32px;
    width: 100%;
    height: 72px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 -4px 4px white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    position: fixed;
    left: 0;
    bottom: 0;
}


.footer-link {
    cursor: pointer;
}


.mobile {
    display: none;
}


.display-none {
    display: none;
}




/* imprint */
main {
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
    height: calc(100vh - 144px);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: scroll;
}


h1 {
    margin: 24px 0;
    font-size: 32px;
}


p {
    margin: 0 0 32px 0;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}


a {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: underline;
    color: steelblue;
}


h2 {
    margin: 16px 0;
    font-size: 24px;
}


h3 {
    margin: 16px 0;
    font-size: 20px;
}


h4 {
    margin: 8px 0;
    font-size: 16px;
}




/* privacy policy */


@media (orientation: portrait) {
    #full-screen-btn {
        display: none;
    }


    #exit-full-screen-btn {
        display: none;
    }


    #canvas {
        display: none;
    }


    #rotation-img {
        display: block;
    }


    .display-none {
        display: flex;
    }
}


@media (orientation: landscape) {
    #rotation-img {
        display: none;
    }
}


@media (max-width: 960px) {
    #canvas {
        width: 100% !important;
    }
}


@media (max-width: 640px) {
    header {
        font-size: 28px;
    }


    footer {
        font-size: 18px;
        justify-content: space-around;
        gap: unset;
    }
}


@media (max-height: 540px) {
    #canvas {
        width: unset;
        height: 100vh;
    }
}


@media (max-width: 480px) {
    header {
        font-size: 24px;
    }

    .footer-link {
        display: none;
    }

    .mobile {
        display: unset;
    }
}


@media (max-height: 464px) {
    header {
        background-color: rgba(255, 255, 255, 1);
    }


    footer {
        background-color: rgba(255, 255, 255, 1);
    }
}


@media (max-width: 360px) {
    header {
        font-size: 20px;
    }
}