body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}


#canvas {
    display: block;
    background-color: black;
}


#rotation-img {
    width: 50%;
}


@media (orientation: portrait) {
    #canvas {
        display: none;
    }


    #rotation-img {
        display: block;
    }
}


@media (orientation: landscape) {
    body {
        background: black;
    }


    #rotation-img {
        display: none;
    }
}


@media (max-width: 960px) {
    #canvas {
        width: 100%;
    }
}


@media (max-height: 540px) {
    #canvas {
        width: unset;
        height: 100vh;
    }
}