<a href="./imprint.html" target="_blank" class="footer-link">Imprint</a>
<a href="./privacy-policy.html" target="_blank" class="footer-link">Privacy Policy</a>
<a href="./game-manual.html" target="_blank" class="footer-link">Game Manual</a>

<a href="./imprint.html" target="_blank" class="link-btn mobile">
    <div class="link-btn-text">I</div>
</a>
<a href="./privacy-policy.html" target="_blank" class="link-btn mobile">
    <div class="link-btn-text">PP</div>
</a>
<a href="./game-manual.html" target="_blank" class="link-btn mobile">
    <div class="link-btn-text">M</div>
</a>