<a href="./game-manual.html" target="_blank" class="link">Game Manual</a>
<a href="./imprint.html" target="_blank" class="link">Imprint</a>
<a href="./privacy-policy.html" target="_blank" class="link">Privacy Policy</a>

<a href="./game-manual.html" target="_blank" class="btn link-btn mobile-btn">
    <div class="link-btn-text">M</div>
</a>
<a href="./imprint.html" target="_blank" class="btn link-btn mobile-btn">
    <div class="link-btn-text">I</div>
</a>
<a href="./privacy-policy.html" target="_blank" class="btn link-btn mobile-btn">
    <div class="link-btn-text">P</div>
</a>