<a id="game-manual-link" class="link" onclick="openDialog('game-manual', true)">Anleitung</a>
<a href="./imprint.html" target="_blank" class="link">Impressum</a>
<a href="./privacy-policy.html" target="_blank" class="link">Datenschutz</a>

<a id="game-manual-btn" class="btn link-btn mobile-btn" onclick="openDialog('game-manual', true)">
    <div class="link-btn-text">A</div>
</a>
<a href="./imprint.html" target="_blank" class="btn link-btn mobile-btn">
    <div class="link-btn-text">I</div>
</a>
<a href="./privacy-policy.html" target="_blank" class="btn link-btn mobile-btn">
    <div class="link-btn-text">D</div>
</a>