<thead>
    <tr>
        <th>Steuerung</th>
        <td class="no-keyboard">Keyboard</td>
        <td>Touchscreen</td>
        <td>Bedingung</td>
    </tr>
</thead>
<tbody>
    <tr>
        <th>Klettern</th>
        <td class="no-keyboard">oben/unten</td>
        <td>
            nach oben<br>
            nach unten
        </td>
        <td>Leiter</td>
    </tr>
    <tr>
        <th>Springen</th>
        <td class="no-keyboard">Leertaste</td>
        <td>rechts unten</td>
        <td>Boden</td>
    </tr>
    <tr>
        <th>Laufattacke</th>
        <td class="no-keyboard">Laufen + Angreifen</td>
        <td>Laufen + Angreifen</td>
        <td>Stamina</td>
    </tr>
    <tr>
        <th>Laufen</th>
        <td class="no-keyboard">
            links + links<br>
            rechts + rechts
        </td>
        <td>
            2-mal tippen + nach links<br>
            2-mal tippen + nach rechts
        </td>
        <td>-</td>
    </tr>
    <tr>
        <th>Gehattacke</th>
        <td class="no-keyboard">Gehen + Angreifen</td>
        <td>Gehen + Angreifen</td>
        <td>Stamina</td>
    </tr>
    <tr>
        <th>Gehen</th>
        <td class="no-keyboard">
            links<br>
            rechts
        </td>
        <td>nach links/rechts</td>
        <td>-</td>
    </tr>
    <tr>
        <th>Angreifen</th>
        <td class="no-keyboard">A</td>
        <td>rechts mittig</td>
        <td>Stamina</td>
    </tr>
    <tr>
        <th>Bombe werfen</th>
        <td class="no-keyboard">F</td>
        <td>rechts mittig</td>
        <td>Kristall</td>
    </tr>
    <tr>
        <th>Spiel pausieren</th>
        <td class="no-keyboard">P</td>
        <td>unten mittig</td>
        <td>-</td>
    </tr>
    <tr>
        <th>Spiel beenden</th>
        <td class="no-keyboard">Escape</td>
        <td>oben mittig</td>
        <td>Pause</td>
    </tr>
</tbody>