<table id="level-control-table" template="./templates/level-control.html">
    <thead>
        <tr>
            <th>Steuerung</th>
            <td class="no-keyboard">Taste</td>
            <td>Touch</td>
            <td>Bed.</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Klettern</th>
            <td class="no-keyboard">oben bzw.<br>unten</td>
            <td>
                nach oben bzw.<br>
                nach unten
            </td>
            <td>Leiter</td>
        </tr>
        <tr>
            <th>Springen</th>
            <td class="no-keyboard">Leertaste</td>
            <td>rechts unten</td>
            <td>Boden</td>
        </tr>
        <tr>
            <th>Lauf-Attacke</th>
            <td class="no-keyboard">Laufen + Angreifen</td>
            <td>Laufen + Angreifen</td>
            <td>Stamina</td>
        </tr>
        <tr>
            <th>Laufen</th>
            <td class="no-keyboard">
                links + links bzw.<br>
                rechts + rechts
            </td>
            <td>
                2-mal tippen + nach links bzw.<br>
                2-mal tippen + nach rechts
            </td>
            <td>-</td>
        </tr>
        <tr>
            <th>Geh-Attacke</th>
            <td class="no-keyboard">Gehen + Angreifen</td>
            <td>Gehen + Angreifen</td>
            <td>Stamina</td>
        </tr>
        <tr>
            <th>Gehen</th>
            <td class="no-keyboard">
                links bzw.<br>
                rechts
            </td>
            <td>
                nach links bzw.<br>
                nach rechts
            </td>
            <td>-</td>
        </tr>
        <tr>
            <th>Angreifen</th>
            <td class="no-keyboard">A</td>
            <td>rechts mittig</td>
            <td>Stamina</td>
        </tr>
        <tr>
            <th>Bombe werfen</th>
            <td class="no-keyboard">F</td>
            <td>rechts mittig</td>
            <td>Kristall</td>
        </tr>
        <tr>
            <th>Spiel pausieren</th>
            <td class="no-keyboard">P</td>
            <td>unten mittig</td>
            <td>-</td>
        </tr>
        <tr>
            <th>Spiel beenden</th>
            <td class="no-keyboard">Escape</td>
            <td>oben mittig</td>
            <td>Pause</td>
        </tr>
    </tbody>
</table>