<table>
    <thead>
        <tr>
            <th>Steuerung</th>
            <td>Keyboard</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Auswählen</th>
            <td>links/rechts</td>
        </tr>
        <tr>
            <th>Bestätigen, Öffnen</th>
            <td>Enter</td>
        </tr>
        <tr>
            <th>Abbrechen, Schließen</th>
            <td>Backspace, Enter, X</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Steuerung</th>
            <td>Mouse</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Auswählen</th>
            <td>anvisieren</td>
        </tr>
        <tr>
            <th>Bestätigen, Öffnen</th>
            <td>klicken</td>
        </tr>
        <tr>
            <th>Abbrechen, Schließen</th>
            <td>klicken</td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Steuerung</th>
            <td>Touchscreen</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Auswählen</th>
            <td>-</td>
        </tr>
        <tr>
            <th>Bestätigen, Öffnen</th>
            <td>tippen</td>
        </tr>
        <tr>
            <th>Abbrechen, Schließen</th>
            <td>tippen</td>
        </tr>
    </tbody>
</table>