<table id="menu-control-table">
    <thead>
        <tr>
            <th>Steuerung</th>
            <td class="desktop-control">Keyboard</td>
            <td class="desktop-control">Mouse</td>
            <td>Touchscreen</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Auswählen</th>
            <td class="desktop-control">links/rechts</td>
            <td class="desktop-control">anvisieren</td>
            <td>-</td>
        </tr>
        <tr>
            <th>Bestätigen, Öffnen</th>
            <td class="desktop-control">Enter</td>
            <td class="desktop-control">klicken</td>
            <td>tippen</td>
        </tr>
        <tr>
            <th>Abbrechen, Schließen</th>
            <td class="desktop-control">Backspace, Enter, X</td>
            <td class="desktop-control">klicken</td>
            <td>tippen</td>
        </tr>
    </tbody>
</table>