<p class="touch-figure-mobile">
    Die folgenden Abbildungen zeigen die Belegung der Touchzonen:
</p>

<div class="touch-figure touch-figure-mobile">
    <div class="touch-container">
        <div class="touch-width-element">
            <div class="zone-label">Steuerzone</div>
            <div class="control-zone">Bewegen</div>
        </div>
    </div>
</div>

<p class="touch-figure-mobile">
    Links ist die Steuerung für das Gehen, Laufen und Klettern untergebracht.
</p>

<div class="touch-figure touch-figure-mobile">
    <div class="touch-container">
        <div class="touch-width-element">
            <div class="middle-zone">
                <div class="pause-zone">Exit</div>
                <div class="zone-label">Mittlere Zone</div>
                <div class="pause-zone">Pause</div>
            </div>
        </div>
    </div>
</div>

<p class="touch-figure-mobile">
    Oben mittig befindet sich die Zone für das Verlassen, unten mittig die Zone für das Pausieren des
    Spiels.
</p>

<div class="touch-figure touch-figure-mobile">
    <div class="touch-container">
        <div class="touch-width-element">
            <div class="zone-label">Aktionszone</div>
            <div class="action-zone">
                <div class="attack-zone">Angreifen</div>
                <div class="attack-zone">Springen</div>
            </div>
        </div>
    </div>
</div>

<p class="touch-figure-mobile">
    Rechts liegen die beiden Zonen für das Angreifen und Springen.
</p>